section[data-back-btn] {
	margin: 70px 0 90px 0;

	#back-btn {
		color: var(--font-color);
		background-color: var(--element-background);
		@include button-padding();
		@include shadow();
		border-radius: 5px;
	}
	#back-btn::before {
		width: 20px;
		height: 20px;
		background-color: antiquewhite;
	}
}

section[data-country-details] {
	display: grid;
    justify-items: center;
	grid-template-columns: repeat(2, 1fr);

	@include reponsive {
		grid-template-columns: repeat(1, 1fr);
	}
    
	img[data-flag] {
		max-width: 500px;
		height: 400px;
		background-color: $very-dark-blue;
	}
}

.country-details {
	line-height: 2rem;
	display: flex;
	flex-direction: column;
	gap: 30px;
    margin-left: 20px;

    @include reponsive {
        margin: 0;
    }

	&__column {
		display: flex;
		justify-content: space-between;

        @include reponsive {
            flex-direction: column;
        }
	}

	p {
		font-weight: map-get($font-weight, medium);
	}

	h2 {
		font-size: 2rem;
	}

	span {
		font-weight: map-get($font-weight, normal);
	}
    
	.border-countries a {
        margin: 0 5px;
        font-size: 14px;
        font-weight: map-get($font-weight, normal);
		color: var(--font-color);
		background-color: var(--element-background);
		@include border-countries-padding();
		@include shadow();
		border-radius: 5px;
	}
}
